@import "tailwindcss";

@font-face {
  font-family: 'font1';
  src: url('https://use.typekit.net/af/22869e/00000000000000007735f93b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3') format('woff2'),
}


@font-face {
  font-family: 'font2';
  src: url('https://use.typekit.net/af/94379b/0000000000000000774b907c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2'),
}


@font-face {
  font-family: 'font3';
  src: url('https://use.typekit.net/af/9b4894/00000000000000007735f938/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2'),
}

@font-face {
  font-family: 'font4';
  src: url('https://use.typekit.net/af/22869e/00000000000000007735f93b/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3') format('woff2'),
}

@font-face {
  font-family: 'font5';
  src: url('https://use.typekit.net/af/9b4894/00000000000000007735f938/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3') format('woff2'),
}

html{
 scroll-behavior: smooth;
}

.form{
  margin: 50px auto;
  height: 535px;
  width: 30%;
  border: 1px solid hsl(0, 15%, 95%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 5px 5px 5px solid hsl(0, 20%, 98%);
  padding: 15px;
}

.head{
    font-size: 30px;
    font-family: "'YourCustomFontName', cursive";
}

.email-inp,.pass-inp{
  border: 1px solid hsl(0, 6%, 85%);
  border-radius: 5px;
  width: 85%;
  margin: 25px 15px 15px 25px;

}
.email-inp::placeholder,.pass-inp::placeholder{
  font-size: 14px;
  padding: 15px 15px;

}
.email-inp:hover,.pass-inp:hover{
  border: 3px solid rgb(255, 106, 0);
}

.form-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888;
}

.form-divider::before,
.form-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.form-divider:not(:empty)::before { margin-right: 1em; }
.form-divider:not(:empty)::after { margin-left: 1em; }

.signin{
  width: 80%;
  color:white;
  background-color: rgb(255, 106, 0);
  text-align:center;
  font-size:18px;
  padding:5px 50px;
  margin:10px 35px;
  border-radius:5px 
}
.signup{
  width: 80%;
  color:white;
  background-color: rgb(32, 156, 8);
  text-align:center;
  font-size:18px;
  padding:5px 50px;
  margin:10px 35px;
  border-radius:5px 
}

.hero-front-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 9vw;
}

.hero-front-wrapper {
  position: relative;
  right: 215%;
  width: 40vw;
  height: 30vw;
}


.left-pack {
  position: absolute;
  top: 2vw;
  left: 5%;
  width: 22vw;
  transform: rotate(-6deg);
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}

.right-pack {
  position: absolute;
  top: 2vw;
  right: 5%;
  width: 22vw;
  transform: rotate(6deg);
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}

.center-pack {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26vw;
  z-index: 10;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}


.hero-left-container {
  display: flex;
  gap: 4px;
}

.hero-video-wrapper {
  width: 37vw;
  height: 45vw;
  border-radius: 32px;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  border-radius: 24px;
}


.hero-right-container {
  display: flex;
  gap: 4px;
}

.hero-right-box {
  background-color: #f9f4ed;
  width: 63vw;
  height: 45vw;
  border-radius: 32px;
}

.hero-title {
  font-size: 6vw;
  line-height: 0.85;
  text-align: center;
  margin-top: 15vw;
  font-weight: bold;
  color: #2a292b;
  font-family: font2;
}

.hero-review-section {
  gap: 8px;
}

.hero-review-text {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  color: #2a292b;
  font-family: font5;
}

.hero-rating {
  text-align: center;
  font-size: 1vw;
  margin-top: 12px;
  color: #2a292b;
  font-family: font5;
}

.hero-stars {
  color: orange;
}

.hero-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-family: font4;
}



.cardStyle{
    width: 200px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-align: center;
    padding-bottom: 10px;
  };

.imageStyle{
    width:100%;
    height: 150px;
    object-fit: cover;
  };

.textStyle{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    padding: 0 10px;
    color: #333
  };

  .feature0:hover,.feature1:hover,.feature2:hover,.feature3:hover,.feature4:hover,.feature5:hover{

    border: 3px solid black;
    box-shadow: 5px 5px 5px rgb(202, 199, 199);
    transform: translateY(-10px);

  }




